<!DOCTYPE html>
<html>
<head>
	<base href="<?php echo "http://". $_SERVER["HTTP_HOST"].$_SERVER["SCRIPT_NAME"]; ?>">
  <meta charset="UTF-8">
  <meta name="viewport" content="width:device-width,initial-scale:1.0">
  <title>Sistema</title>
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="public/css/estilos.css">
  <link rel="stylesheet" type="text/css" href="public/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css" href="public/css/jquery-ui.min.css">
  <script type="text/javascript" src="public/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="public/js/datatables.min.js"></script>
  <script type="text/javascript" src="public/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="public/js/jquery.validate.min.js"></script>
  <script type="text/javascript" src="public/js/jquery-ui.min.js"></script>
  <script type="text/javascript" src="public/js/jquery.maskedinput.js"></script>
  <script type="text/javascript" src="public/js/script.js"></script>
</head>
<body>
 
  <section>
    <div class="load"></div>